@font-face {
  font-family: 'BlackChanceryFont';
  src: url('../../public/assets/fonts/BLKCHCRY.TTF') format('truetype');
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #fffbe8;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
}